@import "reset.css";

@font-face {
  font-family: "Panama";
  font-weight: regular;
  src: url(Panama-Demo-Regular.otf) format('truetype');
}

body {
  font-family: "Panama";
}

/* секция 1 */

#section_one {
  position: absolute;
  width: 50vw;
  height: 100vh;
}

h1 {
  font-size: 5vw;
  padding: 0px 10px;
}

h6 {
  font-size: 2vw;
  padding: 0px 10px;
}
#section_one div {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-around;
}

#section_one div a {
  padding: 15px;
  text-decoration: underline;
}



/* секция 2 */

#section_two {
  position: absolute;
  right: 0;
  width: 50vw;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px 0px;
}

a:hover {
  color: chartreuse;
}

.hidden2,
.hidden2_div,
.hidden2_div_h3,
.hidden2_div_h3_div {
  grid-column: 1/2;
  grid-row: 1/2;
}

h3{
  padding-top: 20px;
  /* padding-bottom: 20px; */
}

.hidden3,
.hidden3_div,
.hidden3_div_h3,
.hidden3_div_h3_div {
  grid-column: 2/3;
  grid-row: 1/2;

  /* height: 100%; */
}

.hidden4,
.hidden4_div,
.hidden4_div_h3,
.hidden4_div_h3_div {
  grid-column: 4/5;
  grid-row: 1/2;

  /* height: 100%; */
}

.hidden5,
.hidden5_div,
.hidden5_div_h3,
.hidden5_div_h3_div {
  grid-column: 3/4;
  grid-row: 1/2;
}

.hidden6,
.hidden6_div,
.hidden6_div_h3 {
  grid-column: 5/6;
  grid-row: 1/2;

  height: 100%;
}

.hidden7,
.hidden7_div,
.hidden7_div_h3 {
  grid-column: 1/2;
  grid-row: 2/3;

  height: 100%;
}

.hidden8,
.hidden8_div,
.hidden8_div_h3 {
  grid-column: 2/3;
  grid-row: 2/3;

  height: 100%;
}

.hidden9,
.hidden9_div,
.hidden9_div_h3 {
  grid-column: 3/4;
  grid-row: 2/3;

  height: 100%;
}

.hidden10,
.hidden10_div,
.hidden10_div_h3 {
  grid-column: 4/5;
  grid-row: 2/3;

  height: 100%;
}

.hidden11,
.hidden11_div,
.hidden11_div_h3 {
  grid-column: 5/6;
  grid-row: 2/3;

  height: 100%;
}

.hidden12,
.hidden12_div,
.hidden12_div_h3 {
  grid-column: 1/2;
  grid-row: 3/4;

  height: 100%;
}

.hidden13,
.hidden13_div,
.hidden13_div_h3 {
  grid-column: 2/3;
  grid-row: 3/4;

  height: 100%;
}

.hidden14,
.hidden14_div,
.hidden14_div_h3,
.hidden14_div_h3_div {
  grid-column: 3/4;
  grid-row: 3/4;

}

.hidden15,
.hidden15_div,
.hidden15_div_h3 {
  grid-column: 4/5;
  grid-row: 3/4;

  height: 100%;
}

.hidden15-1,
.hidden15-1_div,
.hidden15-1_div_h3 {
  grid-column: 5/6;
  grid-row: 3/4;

  height: 100%;
}

.hidden16,
.hidden16_div,
.hidden16_div_h3 {
  grid-column: 1/2;
  grid-row: 4/5;

  height: 100%;
}

.hidden17,
.hidden17_div,
.hidden17_div_h3 {
  grid-column: 2/3;
  grid-row: 4/5;

  height: 100%;
}

.hidden18,
.hidden18_div,
.hidden18_div_h3 {
  grid-column: 3/4;
  grid-row: 4/5;

  height: 100%;
}

.hidden19,
.hidden19_div,
.hidden19_div_h3 {
  grid-column: 4/5;
  grid-row: 4/5;

  height: 100%;
}

.hidden20,
.hidden20_div,
.hidden20_div_h3,
.hidden20_div_h3_div {
  grid-column: 5/6;
  grid-row: 4/5;
}

.hidden21,
.hidden21_div,
.hidden21_div_h3,
.hidden21_div_h3_div {
  grid-column: 1/2;
  grid-row: 5/6;
}

.hidden22,
.hidden22_div,
.hidden22_div_h3,
.hidden22_div_h3_div {
  grid-column: 2/3;
  grid-row: 5/6;
}

.hidden23,
.hidden23_div,
.hidden23_div_h3,
.hidden23_div_h3_div {
  grid-column: 3/4;
  grid-row: 5/6;
}

.hidden24,
.hidden24_div,
.hidden24_div_h3,
.hidden24_div_h3 {
  grid-column: 4/5;
  grid-row: 5/6;
}

.hidden25,
.hidden25_div,
.hidden25_div_h3,
.hidden25_div_h3_div {
  grid-column: 5/6;
  grid-row: 5/6;
}


@media (max-width: 768px) {
  #section_one {
    width: 100vw;
    height: 50vh;
  }

  #section_one div {
    bottom: auto;
    right: 0;
    top: 0;
  }


  #section_two {
    top: 70vh;
    width: 100vw;
    height: 50vh;
  }


  a{
   margin: 10px 10px;
}

}

@media (max-width: 485px) {
  h1 {
    font-size: 15vw;
  }

  h6 {
    font-size: 8vw;
  }


  #section_one div {
    width: 60vw;

    bottom: auto;
    right: auto;
    top: auto;
    position: static;

    justify-content: space-between;
  }

  #section_one div a:first-child {
    margin-left: 10px;
    padding-left: 0;
  }

  #section_one div a{
    padding: 0;
    font-size: 12px;
  }
}













//
